#d_main_div1 .d_header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 9.5rem;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    z-index: 1;
}
#d_main_div1 .d_header .d_header_i {
    margin-top : 1.25rem;
    z-index: 1;
    
}
#d_main_div1 .d_header .d_header_i img {
    width : 10rem;
    height: 3rem;
    object-fit: cover;
    z-index: 1;
}
#d_main_div1 .d_header .d_header_blank {
    margin: 1rem 16rem;
}
#d_main_div1 .d_header .d_header_nav {
    margin-left: -2rem;
    padding: 0.75rem 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
}
#d_main_div1 .d_header .d_header_nav .nav_lang {
    display: flex;
    margin: 0 3rem;
    z-index: 1;
}
#d_main_div1 .d_header .d_header_nav .nav_language {
    border-radius: 0px;
    background: transparent;
    color: white;
    display: inline-flex;
    z-index: 1;
}
#d_main_div1 .d_header .d_header_nav .nav_button{
    display: inline-flex;
    align-items: center;
    background-color: red;
    color: white;
    z-index: 1;
}
.d_allmain img {
    z-index: -1;
}
.d_allmain .d_bg {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.d_allmain .d_bg .bg_af {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 0;
}
.d_main_div1 .d_main_div2 .d_main_header {
    margin: auto;
}
.main1{
    margin-top: 7rem;
    padding: 9.875rem 0 4rem;
    align-items: center;
    text-align: center;
}
.d_main_header h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.d_main_header p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: white;
}
.d_main_header h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}
.domain1 {
    margin: 1.5rem 0 0;
    text-align: center;
    color: white;
}
.d_main_header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.d_main_domain {
    padding: 0 2rem;
    text-align: center;
    box-sizing: border-box;
    max-width: 61.5rem;
    margin: 0 auto;
    color: white;
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.address{
    width: 100%;
    height: 100%;
}
.bground {

}
.popcorn {
    display: flex;
    position: relative;
    justify-content: center;
    background: rgb( 14, 27, 79 );
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 74px;
    color: white;
    padding: 22px;
}
.popcorn1 {
    display: flex;

}
