a {
    display: block;
    text-decoration: none;
  }

  .join {
    padding: 300px 0 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
  .join img{
    display: inline-block;
  }
  

  .join_card {
    width: 400px;
    margin: 0 auto;
    border-radius: 6px;
    padding : 10px 68px;
    
    color: black;
  }
  
  .join_card p {
    font-size: 12px;
  }

  .join_card h2 {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  

  .join_card .info1{
    padding :3px;
    text-align: center;
  }

  .join_card .info2{
    padding : 3px;
    margin-bottom: 10px;
    text-align: center;
  }

  .join_card form input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
  }

  .join_card form .info{
    width: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .join_card form .email{
    width: 3%;
  }
 

  .join_card form [type="button"] {
    background-color: red;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  


